div.welcome {
  font-size: 48px;
  text-align: center;
}

div.rock {
  font-size: 48px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

div.paper {
  font-size: 48px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

div.scissors {
  font-size: 48px;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}  
